{% extends 'base.html' %}
{% load static %}


{% block title %}
    Boletim
{% endblock %}

{% block subtitulo %}
    Boletim Final
{% endblock %}

{% block main %}


    <div class="container">
      <h2>Notas Finais</h2>
      <table class="table">
        <thead>
          <tr>
            <th>Aluno</th>
            <th>Port</th>
            <th>Mat</th>
            <th>Hist</th>
            <th>Geo</th>
            <th>Ciên</th>
            <th>Artes</th>
            <th>Ed. Fís</th>
            <th>Inglês</th>
          </tr>
        </thead>
        <tbody>
          <tr>

          </tr>
          <tr class="table-primary">

          </tr>
          <tr class="table-success">

          </tr>
          <tr class="table-danger">

          </tr>
          <tr class="table-info">

          </tr>
          <tr class="table-warning">

          </tr>
          <tr class="table-active">

          </tr>
          <tr class="table-secondary">

          </tr>
          <tr class="table-light">

          </tr>
          <tr class="table-dark text-dark">

          </tr>
        </tbody>
      </table>
    </div>

{% endblock %}
